@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --header-color: rgb(167, 60, 120, 0.5);
    --main-title-color:rgb(113, 39, 81) ;
}


* {
    margin: 0;
}

body {
    font-size: 20px;
        background:
        repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 25%,
            rgb(56, 153, 130) 20%,
            rgb(57, 154, 131) 50%
        ),
        repeating-linear-gradient(
            45deg,
            transparent,
            transparent 25%,
            rgb(167, 60, 120) 20%,
            rgb(169, 62, 122) 50%
        )
        ;
    
    background-size: 40em 20em; 
    background-blend-mode:multiply;
}

header {
    background-color: aliceblue;
    padding: 1rem;
}

h1 {
    /* font-size: 50px; */
    padding: 1rem;
    background-color: var(--header-color);
    position: relative;
    /* padding-top: 150px; */
}
@keyframes spin_left {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(90deg); }
    100% { transform: rotate(0deg); }
}
@keyframes spin_right {
    0% { transform: rotate(90deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(90deg); }
}

/* from { transform: rotate(0deg); }
    to { transform: rotate(360deg); } */
h1::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: rgb(167, 60, 120);
    clip-path: circle(100% at 0 0);
    animation: spin_left 2s infinite;
}
h2 {
    font-size: 34px;
    padding: 1rem;
    background-color: rgb(57, 154, 131, 0.5);
    text-align: right;
}
h2::after {
    content: "";
    position: absolute;
    top: 95px;
    left: 30px;
    width: 40px;
    height: 40px;
    background: rgb(57, 154, 131);
    clip-path: circle(100% at 0 0);
    animation: spin_right 2s infinite;
}
.summary {
    background-color: #ffc;
    margin: 1rem;
    padding: 1rem;
    text-decoration:none;
    color:#000;
    display:block;
    box-shadow: 9px 9px 11px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    max-width: 400px;
        font-family: 'pacifico', cursive;
        padding-bottom: 40px;
    /* border-radius: 20px; */
}



.summary >p{
    transform: rotate(6deg); 
    padding-top: 20px;

    
}

.preamble, .main {
    background-color: aliceblue;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3), 
                -5px -5px 15px rgba(0,0,0,0.1);
    margin: 1rem;
    padding: 0.5rem;
}
footer {
    text-align: center;
}
h3 {
    font-size: 25px;
    /* font-weight: bold; */
    color: var(--main-title-color);
    /* margin: 15px 0; */
    border-bottom: 2px solid var(--main-title-color);
}
p {
    margin-left: 10px;
}

/* Top Sticky note Highlighter*/
.summary * a, .design-archives * a {
    /* background: linear-gradient(to right, #ffc, yellow 25%, #ffc 90%);
        */
        background-image: url("BlueV2.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        /* opacity: 0.5; */ 
}
.summary * a:hover, .design-archives * a:hover {
    background-color: rgb(97, 143, 252);
}
a {
    /* background: linear-gradient(to right, aliceblue, yellow 25%, aliceblue 90%); */
    background-image: url("highv2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: black;
    text-decoration: none;
}






/*Bootom Sticky note Highlighter*/
.design-selection * a, .zen-resources * a {
    /* background: linear-gradient(to right,  rgb(249, 193, 202), yellow 25%,  rgb(249, 193, 202) 90%); */
    background-image: url("highv2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

    /* .design-archives * a{
    background: linear-gradient(to right, #ffc, yellow 25%, #ffc 90%);
} */

    /* .zen-resources * a{
    background: linear-gradient(to right, #5fbad8, yellow 25%, #5fbad8 90%);
} */




a:hover{
    background: yellow;
    border-radius: 5px 0 5px 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.main div {
    margin: 1rem;
}
footer { grid-area: 3 / 1 / 4 / 3; }


li::marker {
    color: var(--main-title-color);
}
ul {
    list-style-type: square;
}

/* .wrapper {
    background-color: bisque;
    margin: 1rem;
    / padding: 0.5rem; /
} */

.wrapper h3 { 
    text-align: center;
    /* 
    background-color: var(--main-title-color);
    color: bisque; */
} 

.wrapper {
    display: flex;
    
    justify-content: space-between;
    background-color: transparent;
    margin: 1rem;
    padding-top: 0%;
}
.wrapper div {
    /* padding: 1rem; */
    /* background-color: bisque; */

    margin: 1rem;
    padding: 1rem;
    text-decoration:none;
    color:#000;
    display:block;
    box-shadow: 9px 9px 11px rgba(33,33,33,.7);
    
    max-width: 400px;
    font-family: 'pacifico', cursive;
    padding-bottom: 40px;
    text-size-adjust: auto;
}

.design-selection {
    background-color:   rgb(249, 193, 202);
    transform: rotate(-6deg);
    height: auto;
    width: 400px;
    
    /* margin-top: -100px; */
    /* position: absolute;
    top: 20px; */
}

.design-archives{
    background-color: #ffc;
    transform: rotate(6deg);
    height: 400px;
    width: 400px;
}

.zen-resources{
    background-color: #5fbad8;
    transform: rotate(-8deg);
    height: 400px;
    width: 400px;
}

.wrapper ul {
    margin: 1rem;
    padding-left: 0;
    /* margin-left: 0; */
}
.wrapper li {
    list-style-position: inside;
}
.wrapper h3 {
    padding: 0.5rem;
}
@media screen and (min-width: 750px) {
    body{
        background-color: red;
    }
    .intro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    header { grid-area: 1 / 1 / 2 / 3; }
    .summary { grid-area: 2 / 1 / 3 / 2; }
    .preamble { grid-area: 2 / 2 / 3 / 3; }

    .wrapper {
        justify-content:space-around;
    }
    .design-selection {
        position: relative;
        top: -200px;
        left: 20px;
    }
}
    
        
    




/* .main {
    background-color: aliceblue;
    border-radius: 25px;
    padding: 1rem;
    width: 100%;
} */

    @media screen and (max-width: 720px) {
    .wrapper{
            display:contents;
        }
        .preamble{
        padding: auto;
        }
        #zen-supporting{
        display: block;
        background-color: aliceblue;
        }
    }

    @media screen and (min-width: 1350px) {
        body {
            background-color: aqua;
        }
        
        
        .intro {
            display: flex;
            flex-wrap: wrap;
        }

        .intro header, .preamble {
            width: 100vw;
        }
        
        
        .summary {
            position: absolute;
            top: 55rem;
            left: 2rem;
            /* z-index: 1; */
        }
        
        .preamble {
            padding: 1.4rem;
            margin-bottom: 0;
            box-shadow: none;
        }
        .main {
            margin-top: 0;
        }
        .design-selection {
            position: relative;
            top: 0;
            left: 0;
        }
    }
        